<br>
	<h4>EQUIPMENT</h4>



<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				Recording
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				<ul>
					<li>Apple Mac Pro Dual Core 3.0 Ghz x 2 w/17GB of memory)</li>
					<li>DigiDesign Digi 003 Rack+ with Pro Tools 9</li>
					<li>Digidesign Bomb Factory BF-3A Classic Compressor</li>
					<li>Digidesign Cosmonaut Voice </li>
					<li>Digidesign D-Fi bundle (Lo-Fi, Sci-Fi, Recti-Fi, Vari-Fi) </li>
					<li>Digidesign JOEMEEK® SC2T Photo Optical Compressor </li>
					<li>Digidesign JOEMEEK VC5T Meequalizer® </li>
					<li>Digidesign® Maxim </li>
					<li>Digidesign Moogerfooger® Analog Delay </li>
					<li>Digidesign Moogerfooger Ring Modulator </li>
					<li>Digidesign SansAmp PSA-1</li>
					<li>Digidesign Tel-Ray® Variable Delay </li>
					<li>Digidesign Voce® Spin</li>
					<li>Digidesign Voce Chorus/Vibrato </li>
					<li>M-Audio Izotope Ozone 3 Mastering Suite</li>
					<li>M-Audio Keystation 61es - 61-Key Semi-Weighted USB MIDI Controller</li>
					<li>Samson Resolv 2.1  -  Complete 2.1 Monitoring System with Pair of Resolv 50a and Resolv Sub88</li>
					<li>Sony  -  TCD7 Professional Portable DAT Player and Recorder</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Processors
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li>DBX 386 Dual Vacuum Tube Preamp w/Digital Out</li>
					<li>Rocktron Chameleon  -  DSP Preamp</li>
					<li>DOD FX75B Stereo Flanger  -  Stereo Flanger Pedal  </li> 
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Mics
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li>AKG C 535 EB  -  Condenser Microphones</li>
					<li>AKG D 440 Emotion  -  Cardioid Dynamic Microphones</li>
					<li>Audio Technica 8533x  -  Condenser Hanging Mic Microphone</li>
					<li>Marshall Electronics MXL2003  -  Studio Condenser Microphones</li>
					<li>Sennheiser E604  -  Dynamic Cardioid Rack Tom and Snare Microphones</li>
					<li>Shure SM57LC  -  Cardioid Dynamic Microphones</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				Miscellaneous
			</a>
		</div>
		<div id="collapseFour" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li>Transparent Sound Reduction Shield (with Sound Proofing)</li>
					<li>Oz Audio HM6 QMix  -  Headphone Amplifier and Mixer</li>
					<li>Audio-Technica ATH-M40fs  -  Flat Response Reference Headphones</li>
					<li>Sennheiser RS 130 Wireless Surround Sound Headphones</li>
					<li>Sony MDR-7506  -  Dynamic Stereo Headphones</li>
				</ul>
			</div>
		</div>
	</div>
</div>



 







