<br>
	<h4>LINKS</h4>



<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
				Artists/Bands
			</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse in">
			<div class="accordion-inner">
				<ul>
					<li><a href="https://www.facebook.com/BlindsideSweden" target="_blank">Blindside</a></li>
					<li><a href="http://www.christafari.com/" target="_blank">Christafari</a></li>
					<li><a href="http://crossmovement.com/" target="_blank">Cross Movement</a></li>
					<li><a href="http://www.dctalk.com/" target="_blank">DC Talk</a></li>
					<li><a href="http://www.myspace.com/jennifersregret" target="_blank">Jennifer's Regret</a></li>
					<li><a href="http://www.johnreuben.com/" target="_blank">John Reuben</a></li>
					<li><a href="http://www.myspace.com/livingsacrifice" target="_blank">Living Sacrifice</a></li>
					<li><a href="http://www.mxpx.com/" target="_blank">MxPx</a></li>
					<li><a href="http://www.rockandreview.com/nailedpromise/" target="_blank">Nailed Promisen/a></li>
					<li><a href="http://niagara_.blogspot.com/" target="_blank">Niagara</a></li>
					<li><a href="http://www.payableondeath.com/" target="_blank">P.O.D.</a></li>
					<li><a href="http://www.project86.com/" target="_blank">Project 86</a></li>
					<li><a href="http://www.relientk.com/" target="_blank">Relient K</a></li>
					<li><a href="http://www.spokenmusic.com/" target="_blank">Spoken</a></li>
					<li><a href="http://www.switchfoot.com/" target="_blank">Switchfoot</a></li>
					<li><a href="http://www.vroomrock.com/wordpress/" target="_blank">Vroom X2</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Festivals
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><a href="http://www.cornerstonefestival.com/" target="_blank">Cornerstone</a></li> 
					<li><a href="http://www.creationfest.com/" target="_blank">Creation</a></li>
					<li><a href="http://www.purpledoor.com/" target="_blank">Purple Door</a></li>
					<li><a href="http://spiritwestcoast.org/" target="_blank">Spirit West Coast</a></li>
					<li><a href="https://www.facebook.com/YouthExplosionLA" target="_blank">Youth Explosion</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Music Television (watch for Blindside, P.O.D. & Project 86!)
			</a>
		</div>
		<div id="collapseThree" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><a href="http://www.mtv.com/" target="_blank">MTV</a></li> 
					<li><a href="http://www.mtv.com/mtv2/" target="_blank">MTV2</a></li> 
				</ul>
			</div>
		</div>
	</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				Organizations
			</a>
		</div>
		<div id="collapseFour" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><a href="http://www.coremediagroup.com/" target="_blank">Core Media Group</a></li>
					<li><a href="http://www.decapolis.com/" target="_blank">Decapolis</a></li>
					<li><a href="http://mp3.com/" target="_blank">Mp3.com</a></li>
					<li><a href="http://oddtherapy.com/" target="_blank">Odd Therapy</a></li>
					<li><a href="http://www.risen1music.com/" target="_blank">Risen 1 Music</a></li>
					<li><a href="http://rockforlife.org/" target="_blank">Rock for Life</a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
				Radio
			</a>
		</div>
		<div id="collapseFive" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><a href="http://radiou.com/" target="_blank">RadioU.com</a></li>
				</ul>
			</div>
		</div>
	</div>

<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
				Record Companies
			</a>
		</div>
		<div id="collapseSix" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><a href="http://atlanticrecords.com/" target="_blank">Atlantic Records</a></li>
					<li><a href="http://www.becrecordings.com/" target="_blank">BEC Records</a></li>
					<li><a href="http://www.crossmovement.com/" target="_blank">Cross Movement Records</a></li>
					<li><a href="http://www.decapolis.com/" target="_blank">Decaplis Records</a></li>
					<li><a href="http://www.solidstaterecords.com/" target="_blank">Solid State Records</a></li>
					<li><a href="http://www.toothandnail.com/" target="_blank">Tooth and Nail Records</a></li>
				</ul>
			</div>
		</div>
	</div>
<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
				Venues
			</a>
		</div>
		<div id="collapseSeven" class="accordion-body collapse">
			<div class="accordion-inner">
				<ul>
					<li><a href="https://jamminjava.com/" target="_blank">Jammin Java</a></li>
					<li><a href="http://www.geocities.com/SunsetStrip/Concert/2275/index.html" target="_blank">My Brother's Place</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
