<br>
<h4>PHOTOS</h4>
<br>

<%= link_to (image_tag("/assets/Studio-Frederick_thumb.png", :height => '100', :width => '130')), "/assets/Studio-Frederick.jpg", :target => "_blank" %>

<%= link_to (image_tag("/assets/Studio-Frederick2_thumb.png", :height => '100', :width => '130')), "/assets/Studio-Frederick2.jpg", :target => "_blank" %>

<%= link_to (image_tag("/assets/Studio-Frederick3_thumb.png", :height => '100', :width => '130')), "/assets/Studio-Frederick3.jpg", :target => "_blank" %>

<%= link_to (image_tag("/assets/Studio-Frederick4_thumb.png", :height => '100', :width => '130')), "/assets/Studio-Frederick4.jpg", :target => "_blank" %>

<br><br><br><br><br>

<!--START MAIN BODY CONTENT HERE-->

