<br>
<h4>IN STUDIO RECORDING RATES</h4>
<div class="row span9">
	<p><strong>Multi-track Digital Recording:</strong> $20/hour</p>
	<p><i>* PAYMENT IS DUE AT THE COMPLETION OF EACH SESSION TO RECEIVE YOUR MIXDOWN/MASTER UNLESS PRIOR ARRANGEMENTS ARE MADE **<i></p>
	<p><i>** ALL RATES ARE GUARANTEED THROUGH DECEMBER 31, 2011 ***</i></p>
	<p><i>*** Note: Underbrush.net Studios will not record lyrics considered explicit. Why? With many options for lyric choices, we feel there are plenty of other words that can be used to express one's self. Please contact us at RecordWithUs@underbrush.net for specifics on what we consider to be explicit. Thank you! ***</i> </p>
	<br>
</div>
<div class="offset3">
	<form method="post" action="https://www.paypal.com/cgi-bin/webscr"><input type="hidden" value="_s-xclick" name="cmd"></input><input type="hidden" value="YELVFDGCK3JXG" name="hosted_button_id"></input><input type="image" border="0" alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_giftCC_LG.gif"></input><br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img width="1" height="1" border="0" src="https://www.paypal.com/us/verified/pal=paypal@snag11.com" alt=""></img><input type="image" border="0" alt="Official PayPal Seal" src="http://www.paypal.com/en_US/i/icon/verification_seal.gif"></input></form>
</div>