<br>
<h4>STUDIO FOCUS</h4>
<div class="row span9">
	<p>~Our passion is in working with artists to record, and promote their musical art through our recording studio and Underbrush.net website~</p>

	<p>During each session we strive to:</p>

	<ul>
		<li>Record at the highest fidelity (degree of accuracy)</li>

		<li>Build lasting relationships with our clients</li>

		<li>Exceed client expectations</li>

		<li>Plant seeds of faith through our actions</li>
	</ul>

	<p>Please continually visit Underbrush.net for new mp3s and pictures of talented <%= link_to "artists", pages_artists_path, :style => 'color: #0064cd' %> that we have recorded. Also, feedback (by the artists, about the sessions we have done) is located on our <%= link_to "artist feedback", pages_feedback_path, :style => 'color: #0064cd' %> page.</p>

	<p>We have a passion for local music. Thank you!</p>
	<br>
</div>