
<div align="center">
	<table cellspacing="0" cellpadding="0" border="0">
		<tbody>
				<tr>
					<td height="140"></td>
				</tr>
				<tr>
					<td align="center"> 
						<%= link_to image_tag("ub-logo.gif"), url_for(pages_studio_focus_path) %>
					</td>
				</tr>
				<tr>
					<td align="center">
						<p style="font-family:Verdana, Gill Sans, Arial; font-size: 9pt; font-weight: 700; color:white; text-decoration: none">
							<%= link_to "enter", url_for(pages_studio_focus_path), :style => 'color: #FFFFFF', :hover => 'text-decoration: none' %>
						</p>
					</td>
				</tr>
		</tbody>
	</table>